# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.external*/
.idea/
nbproject/

# composer related & toolchain
vendor/
.phpcq
.phpunit.result.cache
.phpcq.yaml
phpcq.phar

# Transifex
/.tx/
